@use "../abstracts/variables" as *;
@use "../abstracts/autoprefixer" as *;

.link-anime,
.btn-anime {
  &.v1,
  &.v2 {
    @include d-inline-flex;
    @include align-items;
    @include justify-content-center;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
  }
  &.v1,
  &.v2 {
    gap: 30px;
  }
  &.round-border-sm {
    border-radius: 5px;
  }
  &.round-border-full {
    border-radius: 50px;
  }
  &.v1 {
    color: $color-white;
    background: #0059B1;
    border: 1px solid #0059B1;
    &:hover {
      color: $color-black;
      background: transparent;
      border: 1px solid #0059B1
    }
  }
  &.v2 {
    color: $color-black;
    background: $color-white;
    &:hover {
      color: $color-white;
      background: $color-black;
    }
  }
}

.link-anime {
  padding: 12px 45px;
}
.btn-anime {
  padding: 26.2px 45px;
  background: $color-tr;
}
.read-more {
  &.v1,
  &.v2,
  &.v3,
  &.v4,
  &.v5,
  &.v6,
  &.v7,
  &.v8,
  &.v9,
  &.v10,
  &.v11 {
    @include d-inline-flex;
    @include align-items;
    @include flex-wrap;
    gap: 9px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    &::before,
    &::after {
      display: inline-block;
      text-align: center;
      font-family: "icomoon";
      speak: never;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      border-radius: 50px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      @include transition;
    }
  }
  &.v1,
  &.v2,
  &.v3,
  &.v4,
  &.v5,
  &.v7,
  &.v8,
  &.v9,
  &.v10,
  &.v11 {
    &::before {
      content: "\e908";
      @include transform(rotate(-50deg));
    }
    &:hover::before {
      @include transform(rotate(0deg));
    }
  }
  &.v1,
  &.v4,
  &.v5,
  &.v7,
  &.v9,
  &.v10,
  &.v11 {
    color: $color-black;
    &::before {
      width: 35px;
      height: 35px;
      line-height: 34px;
    }
  }
  &.v1 {
    &::before {
      color: $color-white;
      background: $color-black;
    }
    &:hover::before {
      background: $color-blue;
    }
  }
  &.v2,
  &.v3 {
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    line-height: 34px;
    text-transform: uppercase;
    gap: 16px;
    &::before {
      height: 60px;
      width: 60px;
      line-height: 60px;
    }
  }
  &.v2 {
    color: $color-black;
    &::before {
      background: $color-yellow;
    }
    &:hover::before {
      background: $color-white;
    }
  }
  &.v3 {
    &::before {
      color: $color-white;
      background: $color-black;
    }
    &:hover::before {
      color: $color-black;
      background: $color-yellow;
    }
  }
  &.v4 {
    &::before {
      color: $color-green;
      background: $color-lblue2;
    }
    &:hover::before {
      color: $color-white;
      background: $color-green;
    }
  }
  &.v5 {
    gap: 15px;
    font-weight: 600;
    &::before {
      color: $color-black;
      border: 1px solid $color-white4;
      background: $color-white;
    }
    &:hover::before {
      color: $color-white;
      border: 1px solid $color-black;
      background: $color-black;
      @include transform(rotate(-50deg));
    }
  }
  &.v6 {
    font-weight: 600;
    &::after {
      content: "\e908";
    }
    &:hover {
      color: $color-dGreen;
    }
  }
  &.v7 {
    &::before {
      color: $color-white;
      background: $color-black;
    }
    &:hover::before {
      color: $color-white;
      background: $color-purple;
    }
  }
  &.v8 {
    color: $color-white;
    &::before {
      width: 38px;
      height: 38px;
      line-height: 38px;
      background: $color-black;
    }
    &:hover {
      color: $color-white;
      &::before {
        color: $color-black;
        background: $color-yellow;
      }
    }
  }
  &.v9 {
    color: $color-white;
    &::before {
      background: $color-green4;
    }
    &:hover {
      color: $color-white;
      &::before {
        color: $color-black;
        background: $color-green4;
      }
    }
  }
  &.v10 {
    color: $color-black;
    &::before {
      color: $color-white;
      background: $color-black;
    }
    &:hover {
      &::before {
        color: $color-white;
        background: $color-green5;
      }
    }
  }
  &.v11 {
    color: $color-white;
    &::before {
      color: $color-white;
      background: $color-green5;
    }
    &:hover {
      &::before {
        background: $color-black;
      }
    }
  }
}

.all-btns,
.slider-btns {
  @include d-flex;
  @include align-items;
  @include flex-wrap;
  gap: 30px;
}
